header.header
	.container
		.header__wrapper
			a.header__logo-link(href='./index.html')
				| Логотип
			nav.header-navigation.navigation
				+menu(navHeader, 'navigation__list', 'navigation__item', '')
				
				if isIndexPage
					ul.navigation-icons__list.navigation-icons__main
						li.navigation-icons__item
							+inlineSvg('navigation-icons__notice', '20', '20', 'icon-bell', 'none', '#000000')
						li 
							+inlineSvg('navigation-icons__search', '22', '22', 'icon-comment', 'none', '#000000')
				else if isCatalogPage
					ul.navigation-icons__list.navigation-icons__catalog
						li
							+inlineSvg('user-icons__favorites', '25', '25', 'heart-background', '#000000', 'none')
						li 
							+inlineSvg('user-icons__basket', '25', '24', 'icon-basket', 'none', '#000000')
							
				+button('Войти через VK', 'vk-login', 'button')
				include ./../sections/user-navigation-header.pug
				include ./../sections/mobile-navigation-main.pug