extends ./../layout/main.pug
block variables
block mixins
	include ./../commons/_mixins.pug

block head
	title= titlePage.current_orders_page
	link(href="./../css/style.min.css", rel="stylesheet")
block header
	include ./../layout/header.pug
block content
	main.main
		include ./../sections/current-order.pug
block footer
	include ./../layout/footer.pug
block scripts
	script(type="module", src="./../js/script.min.js")
