@import '../common/variables.scss';

.about {
  background-color: rgb(0 0 0 / 1);
  background: linear-gradient(rgba(0, 0, 0, 0.9)), url('../../images/decors/mobile/mobile-stock-background@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  position: relative;

  @media screen and (min-width: $tablet) {
    background: linear-gradient(rgba(0, 0, 0, 0.9)), url('../../images/decors/tablet/tablet-sneakers-background@1x.jpg');
    background-size: 135% 100%;
    background-position: -200px;
    margin-bottom: 76px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(0, 0, 0, 0.9)), url('../../images/decors/tablet/tablet-sneakers-background@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-color: rgb(0 0 0 / 96%);
    min-height: 951px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 128px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 0 auto;

    @media screen and (min-width: $tablet--wide) {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 91px;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      margin: 0 auto;
    }
  }

  &__title {
    font-family: $first-font;
    font-size: clamp(2rem, calc(1.6rem + 2vw), 4rem);
    font-weight: 600;
    line-height: 1;
    align-self: center;
    text-align: center;

    @media screen and (min-width: $tablet) {
      line-height: 1.1;
    }

    @media screen and (min-width: $desktop) {
      justify-self: center;
      line-height: 1.3;
      max-width: 625px;
    }
  }

  &__subtitle {
    align-self: center;
    color: $base_link_bg_color;
    text-align: center;
    text-transform: uppercase;
    font-family: $first-font;
    font-size: clamp(0.94rem, calc(0.76rem + 0.88vw), 1.81rem);
    font-weight: 600;
    line-height: 1;

    @media screen and (min-width: $tablet) {
      line-height: 1.2;
    }

    @media screen and (min-width: $desktop) {
      line-height: 1.3;
      max-width: 415px;
      margin-bottom: 84px;
    }
  }

  &__description {
    max-width: 333px;

    @media screen and (min-width: $tablet) {
      max-width: 500px;
    }

    @media screen and (min-width: $tablet--wide) {
      order: 1;
    }

    @media screen and (min-width: $desktop) {
      align-self: flex-start;
      padding-top: 40px;
      flex-basis: 50%;
      order: 2;
    }
  }

  &__link {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet--wide) {
      order: 2;
    }

    @media screen and (min-width: $desktop) {
      display: block;
      width: 777px;
      height: 459px;
      margin-bottom: 161px;
      margin-left: 100px;
      flex-basis: 50%;
      order: 1;
    }
  }

  &__link img {
    border-radius: 30px;

    @media screen and (min-width: $desktop) {
      width: 777px;
      height: 459px;
    }

  }

  &__text {
    align-self: center;
    text-align: center;
    font-family: $first-font;
    font-size: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
    font-weight: 500;
    line-height: 1;

    @media screen and (min-width: $tablet) {
      line-height: 1.2;
    }

    @media screen and (min-width: $desktop) {
      text-align: left;
      line-height: 1.3;
    }
  }

  &__text:last-child {
    margin-bottom: 48px;
  }

  &__image {
    display: block;
    align-self: flex-end;
    width: 336px;
    height: 199px;
    border-radius: 30px;
  }
}
