.cart-buttons {
  margin-bottom: 10px;

  &__title {
    margin: 0;
    font-weight: 600;
  }

  &__cost {
    margin: 0;
    font-size: clamp(0.688rem, 0.471rem + 0.87vw, 1.25rem);
    font-weight: 600;
    line-height: 15px;
  }

  &__cost span {
    margin-left: 5px;
  }

  &__worth {
    margin: 0;
    padding: 0;
    border: 0;
    grid-column: 1 / -1;
  }
}
