.cart-price {

  &__wrapper {
    display: flex;
    align-items: center;

    @media (min-width:$desktop) {
      margin: 0;
    }

    &-setting {
      display: none;

      @media (min-width:$desktop) {
        display: block;
        font-family: $second-font;
        font-size: clamp(1.438rem, 1.534rem + -0.38vw, 1.188rem);
        font-weight: 500;
        margin-right: 10px;
      }
    }

    &-element {
      margin: 0;
      font-family: $second-font;
      font-size: clamp(1.438rem, 1.534rem + -0.38vw, 1.188rem);
      font-weight: 600;
      line-height: 28px;
      color: $text-color-primary;
    }
  }

  &__buttons {
    display: flex;
    
    &-favorites {
      display: none;
      @media (min-width:$desktop) {
        display: block;
      }
    }

    &-buy {
      display: none;
      @media (min-width:$desktop) {
        display: block;
      }
    }
  }
}
