* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: gray;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.navigation__list,
.navigation-icons__list,
.header-navigation__registration-button {
  display: none;
}

.header__logo-link {
  color: #00000000;
  background-image: url("../../images/icons/content/logistics-logo.svg");
  width: 138px;
}

.header__wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}
