.map {
}
.container {
}
.delivery {
  @media (min-width: $desktop) {
    display: flex;
  }

  // .delivery__image
  &__image {
    @media (min-width: $desktop) {
      width: 57.5%;
    }
  }
  // .delivery__content
  &__content {
    @media (min-width: $desktop) {
      width: 42.5%;
    }
  }
}

// .delivery-content
.delivery-content {
  background-image: (linear-gradient(rgba(7, 7, 7, 0.95)), url("../../images/decors/stock-background@1x.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  // padding: 50px 64px 40px;
  padding-top: clamp(3.125rem, 1.4474rem + 6.7105vw, 9.5rem);
  padding-right: clamp(4rem, 3.1776rem + 3.2895vw, 7.125rem);
  padding-bottom: clamp(2.5rem, 0.7401rem + 7.0395vw, 9.1875rem);
  padding-left: clamp(4rem, 3.1283rem + 3.4868vw, 7.3125rem);
  text-align: center;
  @media (min-width: $desktop) {
    text-align: left;
    // padding: 152px 114px 119px 147px;
  }

  // .delivery-content__title
  &__title {
    margin: 0;
    font-family: $first-font;
    font-weight: 500;
    font-size: clamp(1.3125rem, 1.0329rem + 1.1184vw, 2.375rem);
    margin-bottom: clamp(1.5625rem, 0.9704rem + 2.3684vw, 3.8125rem);
  }
  // .delivery-content__text
  &__text {
    margin: 0 auto;
    font-family: $first-font;
    font-weight: 500;
    font-size: clamp(0.625rem, 0.477rem + 0.5921vw, 1.1875rem);
    margin-bottom: clamp(1rem, 0.7697rem + 0.9211vw, 1.875rem);
    max-width: clamp(22.5rem, 17.7303rem + 19.0789vw, 40.625rem);
  }

  // .delivery-content__address
  &__address {
    margin: 0;
    margin-top: clamp(1.875rem, 1.6283rem + 0.9868vw, 2.8125rem);
    margin-bottom: clamp(1rem, 0.852rem + 0.5921vw, 1.5625rem);
    font-family: $first-font;
    font-weight: 500;
    font-size: clamp(0.5625rem, 0.4309rem + 0.5263vw, 1.0625rem);
    font-style: normal;
  }

  // .delivery-content__time
  &__time {
    margin: 0;
    font-size: clamp(0.5625rem, 0.4309rem + 0.5263vw, 1.0625rem);
  }

  // .delivery-content p+p
  p + p {
    margin-bottom: 0;
  }
}

.map-container {
  background-image: url("../images/content/map@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: clamp(24.375rem, 19.6546rem + 18.8816vw, 42.3125rem);
  height: 100%;
  display: block;

  @media (min-resolution: 2dppx) {
    background-image: url("../images/content/mobile-map@2x.webp");
  }

  @media (min-width: $desktop) {
    min-height: 677px;
  }
}
