.menu-footer__list {
  font-size: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  @media (min-width: 768px) {
    font-size: 8px;
  }

    @media (min-width: 1440px) {
      font-size: 18px;
    }
}

.menu-footer__title {
  margin: 0;
}

.menu-footer__sub-list {
  margin-top: 9px;

  @media (min-width: 768px) {
    margin-top: 16px;
  }

    @media (min-width: 1440px) {
      margin-top: 24px;
    }
}

.menu-footer__sub-item {
  white-space: nowrap;
  margin-bottom: 4px;

  @media (min-width: 768px) {
    margin-bottom: 8px;
  }

    @media (min-width: 1440px) {
      margin-bottom: 10px;
    }
}
