.page {
  height: 100%;
}

.page__body {
  font-family: $first-font;
  font-size: 12px;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;

  @media (width >= 1440px) {
      font-size: 18px;
    }
}
