.worth {

  &__list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  &__item {
    position: relative;
    min-height: 25px;
    
    @media (min-width:$tablet) {
      min-height: 30px;
    }

    @media (min-width:$desktop) {
      display: block;
      min-height: 34px;
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .worth-label {
      display: block;
      font-family: $fifth-font;
      font-size: clamp(0.5rem, 0.404rem + 0.38vw, 0.75rem);
      font-weight: 500;
      line-height: 10px;
      padding: 8px 8px 8px 24px;
      background-color: $background-color-primary;
      border-radius: 8px;
      position: relative;

      @media (min-width:$tablet) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      @media (min-width:$desktop) {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        padding: 11px 17px 11px 36px;
        cursor: pointer;
      }
    }

    .worth-label:hover {
      @media (min-width:$desktop) {
        opacity: 0.6;
      }
    }

    .worth-label::before {
      /* Стилизация квадратa чекбокса */
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 30%;
      left: 10%;
      border: 1px solid black;
      border-radius: 2px;

      @media (min-width:$desktop) {
        width: 14px;
        height: 14px;
        top: 30%;
        left: 10%;
      }
    }

    input[type="checkbox"]:checked+label::after {
      /* Стилизация галочки чекбокса */
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 30%;
      left: 10%;
      background-image: url("./../../images/icons/decors/check-mark-icon.svg");
      background-repeat: no-repeat;
      background-size: 5px 6px;
      background-position: center center;
      background-color: $checkbox-background-color-active;
      border-radius: 2px;

      @media (min-width:$desktop) {
        width: 14px;
        height: 14px;
        top: 30%;
        left: 10%;
        background-size: 6px 8px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
      }
    }
  }

  &__item:nth-child(3),
  &__item:nth-child(4) {
    @media (min-width:$desktop) {
      display: none;
    }
  }

  &__item:nth-child(4),
  &__item:nth-child(5) {
    display: none;

    @media (min-width:$desktop) {
      display: block;
    }
  }

  &__button-reset {
    display: block;
    min-height: 25px;
    font-family: $fifth-font;
    font-size: clamp(0.5rem, 0.404rem + 0.38vw, 0.75rem);
    font-weight: 500;
    line-height: 10px;
    border: 0;
    padding: 8px 8px 8px 13px;
    background-color: $background-color-primary;
    border-radius: 8px;
    cursor: pointer;
    
    @media (min-width: $tablet) {
      min-height: 30px;
    }

    @media (min-width:$desktop) {
      padding: 10px 13px 10px 22px;
      width: 30px;
      height: 34px;
      background-image: url('../../images/icons/stack.svg#decors_trash-icon');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: center;

      .worth__button-reset-span {
        display: none;
      }
    }
  }

  &__button-reset:hover {
    @media (min-width:$desktop) {
      opacity: 0.6;
    }
  }

  &__button-order {
    display: block;
    font-family: $fifth-font;;
    font-size: clamp(0.5rem, 0.404rem + 0.38vw, 0.75rem);
    font-weight: 500;
    line-height: 10px;
    padding: 8px 12px 8px 15px;
    background-color: $button-background-color-base;
    border-radius: 9px;
    color: $text-color-base;
    text-decoration: none;
    
    @media (min-width:$tablet) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (min-width:$desktop) {
      display: none;
    }
  }

  &__link {
    display: block;
    font-family: $fifth-font;;
    font-size: clamp(0.688rem, 0.471rem + 0.87vw, 1.25rem);
    font-weight: 500;
    line-height: 10px;
    padding: 8px 12px 8px 15px;
    background-color: $background-color-primary;
    border-radius: 8px;
    color: $text-color-primary;
    text-decoration: none;
    display: none;

    @media (min-width:$tablet) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (min-width:$desktop) {
      display: block;
      padding: 10px 13px 10px 22px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
    }

    &--all-in-cart {
      display: none;

      @media (min-width:$desktop) {
        display: block;
        padding: 10px 27px 10px 26px;
      }
    }

    &--all-in-cart:hover {
      @media (min-width:$desktop) {
        opacity: 0.6;
      }
    }
  }

  &__link:hover {
    @media (min-width:$desktop) {
      opacity: 0.6;
    }
  }
}