//Color variables

//Black
$black: #000000;
$black-blue: #050606;
$light-black: #161616;
$black-amber: #070707;
$dark-black-amber: #090909;
$black-borrow: #202020;
$black-borrow2: #212121;
$dark-black-borrow: #242424;
$black-signal: #2E2E2E;

//White
$white: #ffffff;
$dark-white: #EBF4F8;
$white-azure: #F4FDFF;

//Green
$green: #008968;
$light-green: #00A481;

//Red
$red: #ff0000;

//Gray
$gray: #515151;
$light-gray: #B8B8B8;
$light-gray2: #D9D9D9;
$light-gray3: #E5EFF3;
$gray-black: #333333;
$silver-gray: #C1C1C1;
$dark-gray: #757575;
$dark-gray2: #8E8E8E;
$gray-neutral: #A0A2A5;

//------------------------------------------------------------------------------------------
//---Денис
// $text-color-base: $white;
// $text-color-primary: ;
// $text-color-secondary: ;
// $text-color-spesial: ;
// $text-color-error: ;
// $text-color-old-price: ;
// $text-color-new-price: ;
// $text-color-checkbox: ;
// $text-color-checkbox-secondary: ;
// $text-color-input: ;
// $text-color-profile-link: ;
// $text-color-order-info: ;

//-------------------------------------------------------------------------------------------

// $background-color-base: ;
// $background-color-primary: ;
// $background-color-secondary: ;
// $background-color-decorate: ;
// $background-color-decorate2: ;
// $background-color-user-profile: ;
// $background-color-pagination:;
// $background-color-pagination-active: ;

//-------------------------------------------------------------------------------------------

// $border-color-pagination: ;

//------------------------------------------------------------------------------------------

// $button-background-color-base: ;
// $button-background-color-primary: ;
// $button-background-color-secondary: ;

//--------------------------------------------------------------------------------------------

// $checkbox-background-color-active: ;

//---------------------------------------------------------------------------------------------

// $box-shadow-cart: ;

//---------------------------------------------------------------------------------------------

// $input-background-color: ;
// $input-border-color: ;

//---------------------------------------------------------------------------------------------
//----Денис
// $icon-color-base: ;
// $icon-color-primary: ;
// $icon-background-color-base: ;
// $icon-background-color-primary: ;
