// Шрифты
$first-font: "SF Pro Display",
"Arial",
sans-serif;
$second-font: "Montserrat",
"Arial",
sans-serif;
$second-font-black: "Montserrat-black",
"Arial",
sans-serif;
$third-font: "Bebas Neue",
"Arial",
sans-serif;
$fourth-font: "Arial",
sans-serif;
$fifth-font: "Inter",
"Arial",
sans-serif;
$sixth-font: "PT Sans",
"Arial",
sans-serif;

$base_link_bg_color: #008968;
$base_color: #000;
$WHITE: #FFFFFF;

$mobile-width-only: 767px;
$tablet: 768px;
$tablet--wide: 1024px;
$desktop: 1440px;
