$mobile-padding: 30px 28px 8px 28px;

.main-header {
  display: flex;
  justify-content: center;
  padding: $mobile-padding;
  background-color: $text-color-primary;
  min-width: 400px;

  @media (min-width: $tablet) {
    min-width: $tablet;
    padding: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.main-header__navigation {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 71px);
  grid-template-rows: 42px 50px;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet) {
    position: static;
    grid-template-columns: repeat(8, minmax(71px, 100px));
    grid-template-rows: auto auto;
    row-gap: 0;
  }
}

.main-header__burger-button {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 0;
  border: none;
  background-color: transparent;

  &--close {
    width: 26px;
    height: 22px;
    background-image: url('../../images/icons/stack.svg#decors_burger-icon');
    background-size: 26px 22px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__logo-link {
  grid-column: 2 / 4;
  justify-self: center;

  @media (min-width: $tablet) {
    grid-column: 1 / 3;
    justify-self: start;
  }
}

.main-header__navigation-list {
  display: none;

  @media (min-width: $tablet) {
    grid-column: 3/ 6;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 360px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.main-header__navigation-item {
  position: relative;
}

.main-header__navigation-link {
  color: $text-color-base;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;

  &--current::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: $background-color-decorate;
    transform: translateY(10px);
    bottom: 0;
    left: 0;
  }
}

.main-header__navigation-icon-list {
  display: none;

  @media (min-width: $tablet) {
    grid-column: 6 / 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 71px;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.main-header__navigation-icon-link {
  display: block;
  width: 24px;
  height: 24px;

  &--favorite {
    background-image: url('../../images/icons/stack.svg#decors_heart-full-icon')
  }

  &--cart {
    background-image: url('../../images/icons/stack.svg#decors_small-basket-icon')
  }
}

.main-header__registration-button {
  justify-self: end;
  width: 42px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: #008968;
  border-radius: 50%;
  background-image: url('../../images/icons/stack.svg#decors_question-icon');
  background-repeat: no-repeat;
  background-size: 10px 16px;
  background-position: center;

  @media (min-width: $tablet) {
    grid-column: 7 / 9;
    padding: 10px;
    min-width: 150px;
    border-radius: 20px;
    background-image: none;
  }

  @media (min-width: $desktop) {
    min-width: 188px;
  }
}

.main-header__registration-button-text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    color: $text-color-base;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.main-header__user-profile-container {
  display: none;
}

.button.main-header__signout-button {
  display: none;
}

.main-header__fast-access-list {
  align-self: stretch;
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: flex;
  column-gap: 26px;
  flex-wrap: wrap;
  list-style: none;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__fast-access-item {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.main-header__fast-access-link {
  padding-top: 6px;
  text-decoration: none;
  color: #ffffff;
  font-family: $sixth-font;

  &:hover {
    color: red;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: white;
  }

  &:hover::before {
    background-color: red;
  }

  &--main::before {
    color: white;
    mask-image: url('../../images/icons/stack.svg#decors_home-icon')
  }

  &--favorite::before {
    mask-image: url('../../images/icons/stack.svg#decors_heart-border-icon')
  }

  &--catalog::before {
    mask-image: url('../../images/icons/stack.svg#decors_search-catalog-icon')
  }

  &--cart::before {
    mask-image: url('../../images/icons/stack.svg#decors_basket-icon')
  }

  &--profile::before {
    mask-image: url('../../images/icons/stack.svg#decors_profile-icon')
  }
}

.main-header__burger-menu-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 71px);
  gap: 20px;
  background-color: $background-color-base;

  &--open {
  position: absolute;
  top: 118px;
  left: 50%;
  transform: translateX(-50%);
  padding: 28px;
  padding-top: 23px;
  padding-bottom: 10px;
  }

  &--close {
    display: none;
  }

  &--no-js {
    position: static;
    transform: none;
    padding: 0;
    display: grid;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__burger-menu-title {
  grid-column: 1 / 2;
  margin: 0;
  padding-left: 17px;
  font-family: $second-font;
  font-weight: 600;
  font-size: 22px;
  color: $text-color-base;
}

.main-header__faq-link {
  justify-self: end;
  align-self: center;
  grid-column: 3 / 5;
  font-family: $second-font;
  font-weight: 500;
  font-size: 13px;
  color: #00A481;
  text-decoration: none;
}

.main-header__burger-menu-list {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
  margin: 0;
  list-style: none;
  color: $text-color-base;
}

.main-header__burger-menu-subtitle {
  margin: 0;
  margin-bottom: 21px;
  padding-left: 6px;
  font-family: $second-font;
  font-weight: 600;
  font-size: 22px;
}

.main-header__burger-menu-sublist {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__burger-menu-sublink {
  display: flex;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: $text-color-base;
  background-color: rgba($background-color-secondary, 5%);
  background-image:url('../../images/icons/stack.svg#decors_arrow');
  background-repeat: no-repeat;
  background-size: 6px 12px;
  background-position: center right 25px;
}
