section.about
	.about__header
		h2.about__title ЧТО ТАКОЕ POIZON?
		p.about__subtitle Сейчас мы все объясним
	.about__container
		a.about__link(href="#")
			picture
				source(srcset=" 2x", type="image/png", media="(min-width:993px)")
				source(srcset=" 2x", type="image/png", media="(max-width:992px)")
				source(srcset=" 2x", type="image/png", media="(max-width:768px)")
			+img('about__image', 'images/decors/main-about-poizon@1x.png', 'Лучший сервис для заказа с POIZON', 336, 198, 'png')
		.about__description
			p.about__text В данном видеоролике мы подробно рассказываем о таких маркетплейсах, как Poizon, 95, Alibaba.
			p.about__text Какой путь проходят вещи перед тем как попасть в руки наших клиентов?
			p.about__text Вещь которая ко мне придет точно оригинал? И главный вопрос почему именно Logistics X?
			p.about__text На все эти вопросы вы можете получить ответ, посмотрев ролик!
