section.intro
	.intro__container
		h2.intro__title LOGISTICS X
		p.intro__text Закажем абсолютную любую позицию из Китая!<br>Одежда, обувь, аксессуары, электроника и многое другое! Цены значительно ниже, чем в России.
		.intro__buttons
			+link('base-link', 'Перейти к каталогу', './pages/catalog.html')
			+link('base-link base-link--black', 'Перейти к калькулятору', './pages/calculator.html')
	.intro__container--img
		picture
			source(srcset="../../images/content/intro@2x.webp, ../../images/content/intro@2x.webp 2x", type="image/webp", media="(min-width:1440px)")
			source(srcset="../../images/content/intro@2x.png, ../../images/content/intro@2x.png 2x", type="image/png", media="(min-width:1440px)")
			source(srcset="../../images/content/intro@1x.webp, ../../images/content/intro@1x.webp 2x", type="image/webp", media="(min-width:768px)")
			source(srcset="../../images/content/intro@1x.png, ../../images/content/intro@1x.png 2x", type="image/png", media="(min-width:768px)")
			source(srcset="../../images/content/mobile-intro@1x.webp, ../../images/content/mobile-intro@2x.webp 2x", type="image/webp", media="(max-width:768px)", loading='lazy')
			img(src='', width='430', height='235', alt='Логотип магазина Poizon')
		//- +img('intro__img', "../../images/content/intro@2x.png", 'Image', 634, 'auto', 'png')
			.scroll-indicator
				span Вниз
