section.items-cart
	.items-cart__wrapper-buttons.cart-buttons
		h1.cart-buttons__title Корзина
		p.cart-buttons__cost
			span#totalProducts 6 товаров на сумму:
			span#totalProductsPrice 142 794 ₽
		fieldset.cart-buttons__worth.worth
			ul.worth__list
				li.worth__item
					+checkbox('worth__all-items', 'checked', 'all-items', 'Выбрать все')
				li.worth__item
					+button('Удалить выбранное', 'worth__button-reset', 'reset')
				li.worth__item
					+link('worth__link', 'Перейти к избранному', '#')
				li.worth__item
					+link('worth__link worth__link--all-in-cart', 'Все в корзине', '#')
	fieldset.items-cart__selected-products.selected-products
		ul.selected-products__list
			li.selected-products__items
				+checkbox('item', 'checked', 'item', '')
				//- img.selected-products__image
				h2.selected-products__items-title: +link('my-link-class', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
				p.selected-products__items-size Размер: 41
				.selected-products__items-buttons-value.buttons-value
					+button('-', 'buttons-value__button-decrease', 'button')
					+inputField('','text', 'buttons-value__quantity-product', 'quantity-product', '1')
					+button('+', 'buttons-value__button-increase', 'button')
				.selected-products__items-price-wrapper.cart-price
					dl.cart-price__wrapper
						dt.cart-price__wrapper-setting Цена:
						dd.cart-price__wrapper-element 23 799 ₽
					+button('Добавить в избранное', 'cart-price__button-favorites', 'button')
					+button('Купить', 'cart-price__button-buy', 'button')