section.items-cart
	.items-cart__wrapper.cart-buttons
		h2.visually-hidden Корзина товаров кроссовок....
		p.cart-buttons__title Корзина
		p.cart-buttons__cost
			span.total-count 6
			span товаров на сумму:
			span.total-price 142 794
			span.currency ₽
		.cart-buttons__worth.worth
			ul.worth__list
				li.worth__item
					+checkbox('worth__all-items', 'checked', 'all-items', 'Выбрать все')
				li.worth__item
					+buttonSpan('Удалить выбранное', 'worth__button-reset', 'button', '', 'worth__button-reset-span')
				li.worth__item
					+link('worth__button-order', 'Перейти к оформлению', '#')
				li.worth__item
					+link('worth__link', 'Перейти к избранному', '#')
				li.worth__item
					+link('worth__link worth__link--all-in-cart', 'Все в корзине', '#')
	.items-cart__selected-products.selected-products
		ul.selected-products__list.list-reset
			li.selected-products__item
				.selected-products__choose
					+checkbox('item', 'checked', 'item', '')
				.selected-products__image
					img(src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1719964800&semt=ais_user", width="102" height="63" style="background-color: blue; display: block")
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
						h3.selected-products__item-title
				.selected-products__characteristics
					.selected-products__character
						.selected-products__item-buttons-value.buttons-value
							+button('-', 'buttons-value__button--decrease', 'button')
							+inputField('','number', 'buttons-value__quantity-product', 'quantity-product', '1')
							+button('+', 'buttons-value__button--increase', 'button')
						p.selected-products__item-size Размер:
							span 41
					.selected-products__item-price-wrapper.cart-price
						dl.cart-price__wrapper
							dt.cart-price__cost-title Цена:
							dd.cart-price__cost-value 23 799 ₽
						.cart-price__buttons
							+buttonSpan('', 'cart-price__button--favorites', 'button', 'button-favorites', '')
							+button('Купить', 'cart-price__button--buy', 'button')
	.items-cart__mini-order.mini-order
		.mini-order__wrapper
			.mini-order__buttons.order-buttons
			p.cart-buttons__title.order-buttons__title Итого:
			p.cart-buttons__cost.order-buttons__cost
				span.total-count 6
				span товаров:
				span.total-price 142 794
				span.currency ₽
			ol.mini-order__list
			li.mini-order__item
				+link('selected-products__image-link mini-order__item-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					h3.selected-products__item-title
				dl.cart-price__wrapper.mini-order__price
					dt.cart-price__cost-title.mini-order__price--title Цена:
					dd.cart-price__cost-value.mini-order__price--value 23 799 ₽
			li.mini-order__item
				+link('selected-products__image-link mini-order__item-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					h3.selected-products__item-title
				dl.cart-price__wrapper.mini-order__price
					dt.cart-price__cost-title.mini-order__price--title Цена:
					dd.cart-price__cost-value.mini-order__price--value 23 799 ₽
			.mini-order__buttons.mini-order-buttons.cart-buttons__worth.worth
			ul.worth__list.mini-order-buttons__list
				li.worth__item.mini-order-buttons__item-placing
					+link('worth__button-order--mini mini-order-buttons__placing', 'Перейти к оформлению', '#')
				li.worth__item.mini-order-buttons__item-favorite
					+link('worth__link mini-order-buttons__favorite', 'Перейти к избранному', '#')
				li.worth__item.mini-order-buttons__item-all-in-cart
					+link('worth__link worth__link--all-in-cart mini-order-buttons__all-in-cart', 'Все в корзине', '#')
		+link('worth__button-back mini-order-buttons__back', 'Вернуться обратно к каталогу', '#')