section.items-cart
	h2.visually-hidden Корзина товаров кроссовок....
	.items-cart__wrapper.cart-buttons
		p.cart-buttons__title Корзина
		p.cart-buttons__cost
			span.total-count 6
			span.total-text товаров на сумму:
			span.total-price 142 794
			span.currency ₽
		.cart-buttons__worth.worth
			ul.worth__list
				li.worth__item
					+checkbox('worth__all-items', 'checked', 'all-items', 'worth-label', 'Выбрать все')
				li.worth__item
					+buttonSpan('Удалить выбранное', 'worth__button-reset', 'button', '', 'worth__button-reset-span')
				li.worth__item
					+link('worth__button-order', 'Перейти к оформлению', 'order-details-page.html')
				li.worth__item
					+link('worth__link', 'Перейти к избранному', 'favorites.html')
				li.worth__item
					+link('worth__link worth__link--all-in-cart', 'Все в корзине', '#')
	.items-cart__selected-products.selected-products
		ul.selected-products__list.list-reset
			li.selected-products__item
				.selected-products__choose
					+checkbox('item', 'checked', 'item', 'product-label', '')
				.selected-products__image
					img.product-preview-img(src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1719964800&semt=ais_user", width="102" height="63" style="background-color: blue; display: block")
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', 'placing-order.html')
				.selected-products__characteristics
					.selected-products__character
						.selected-products__item-buttons-value.buttons-value
							+button('-', 'value-decrease buttons-value__button--decrease', 'button')
							+inputFieldNumber('selected-products__cost-value', 'number', 'buttons-value__quantity-product', '1')
							+button('+', 'value-increase buttons-value__button--increase', 'button')
						p.selected-products__item-size Размер:
							span.size-number 41
					.selected-products__item-price-wrapper.cart-price
						dl.cart-price__wrapper
							dt.cart-price__cost-title Цена:
							dd.cart-price__cost-value 23 799
							span.currency ₽
						.cart-price__buttons
							+buttonSpan('', 'cart-price__button--favorites', 'button', 'button-favorites', '')
							+button('Купить', 'cart-price__button--buy', 'button')
			li.selected-products__item
				.selected-products__choose
					+checkbox('item', 'checked', 'item', 'product-label', '')
				.selected-products__image
					img.product-preview-img(src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1719964800&semt=ais_user", width="102" height="63" style="background-color: blue; display: block")
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', 'placing-order.html')
				.selected-products__characteristics
					.selected-products__character
						.selected-products__item-buttons-value.buttons-value
							+button('-', 'value-decrease buttons-value__button--decrease', 'button')
							+inputFieldNumber('selected-products__cost-value', 'number', 'buttons-value__quantity-product', '2')
							+button('+', 'value-increase buttons-value__button--increase', 'button')
						p.selected-products__item-size Размер:
							span.size-number 41
					.selected-products__item-price-wrapper.cart-price
						dl.cart-price__wrapper
							dt.cart-price__cost-title Цена:
							dd.cart-price__cost-value 23 799
							span.currency ₽
						.cart-price__buttons
							+buttonSpan('', 'cart-price__button--favorites', 'button', 'button-favorites', '')
							+button('Купить', 'cart-price__button--buy', 'button')
	.items-cart__mini-order.mini-order
		.mini-order__wrapper
			.mini-order__summary
				p.mini-order__summary-title Итого:
				p.cart-buttons__cost
					span.total-count 6
					span.total-text товаров:
					span.total-price 142 794
					span.currency ₽
			ol.mini-order__list
				li.mini-order__item
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					dl.cart-price__wrapper
						dt.cart-price__cost-title Цена:
						dd.cart-price__cost-value 23 799
						span.currency ₽
				li.mini-order__item
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					dl.cart-price__wrapper
						dt.cart-price__cost-title Цена:
						dd.cart-price__cost-value 23 799
						span.currency ₽
				li.mini-order__item
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					dl.cart-price__wrapper
						dt.cart-price__cost-title Цена:
						dd.cart-price__cost-value 23 799
						span.currency ₽
				li.mini-order__item
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					dl.cart-price__wrapper
						dt.cart-price__cost-title Цена:
						dd.cart-price__cost-value 23 799
						span.currency ₽
				li.mini-order__item
					+link('selected-products__image-link', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
					dl.cart-price__wrapper
						dt.cart-price__cost-title Цена:
						dd.cart-price__cost-value 23 799
						span.currency ₽
			.mini-order__buttons.mini-order-btn.cart-buttons__worth.worth
				ul.mini-order-btn__list
					li.mini-order-btn__item
						+link('worth__button-order', 'Перейти к оформлению', 'order-details-page.html')
					li.mini-order-btn__item
						+link('worth__link', 'Перейти к избранному', 'favorites.html')
					li.mini-order-btn__item
						+link('worth__link worth__link--all-in-cart', 'Все в корзине', '#')
		+link('link-go-back', 'Вернуться обратно к каталогу', 'catalog.html')
