section.order-details
	.order-details__wrapper
		h2.order-details__title Более подробно о заказе 1632
		b.order-details__subtitle Информация обновляется раз в сутки

		.order-details__information
			dl
				dt Куда прийдет заказ?
				dd ул. Н. Островского, 51
				dt Стоимость заказа:
				dd 37 999₽
				dt Примерная дата доставки
				dd 19 января в 15:00
				dt Количество вещей:
				dd 7 шт.

		.order-details-products.order-products
			ol.order-products__list
				li.order-products__item
					h3.order-products__title Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"
					p Размер 42
					p 23 859 ₽
				li.order-products__item
					h3.order-products__title Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"
					p Размер 42
					p 23 859 ₽
				li.order-products__item
					h3.order-products__title Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"
					p Размер 42
					p 23 859 ₽
				li.order-products__item
					h3.order-products__title Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"
					p Размер 42
					p 23 859 ₽
				li.order-products__item
					h3.order-products__title Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"
					p Размер 42
					p 23 859 ₽

		.order-details-status.order-status
			ol.order-status__list
				li.order-status__item.order-status__item--actual
					p Оплачен
				li.order-status__item
					p Закуплен
				li.order-status__item
					p На складе в Китае
				li.order-status__item
					p В пути в Москву
				li.order-status__item
					p Принято в Москве
				li.order-status__item
					p Передан в СДЭК
				li.order-status__item
					p Доставляется СДЭКом
				li.order-status__item.order-status__item--current
					p Завершен



