section.price
	.price__info
		h1.info__title Рассчитать стоимость
		p.info__text Расчет стоимости на 1 единицу товара с пойзона, без учёта стоимости доставки
	fieldset.price__calculator
		.calculator__currency
			label(for="currency") Введите цену в юанях
			input(type="text" name="currency" id="currency" required)
		legend.currency__title укажите валюту для рассчета стоимости
		ul.currency__list
			li.currency__item
				input(type="radio" name="currency" id="RUB" checked)
				label(for="RUB") Российский рубль
			li.currency__item
				input(type="radio" name="currency" id="BYN")
				label(for="BYN") Белорусский рубль
			li.currency__item
				input(type="radio" name="currency" id="KZT")
				label(for="KZT") Казахстанский Тенге
			li.currency__item
				input(type="radio" name="currency" id="KGS")
				label(for="KGS") Киргизский сом
	+button('Сбросить', 'button button__reset_price', 'reset')
	fieldset.price__items
		.calculator__result
			label(for="result") Результат
			input(type="text" name="result" id="result")
		legend.items__title выберете, какую вещь планируете покупать
		ul.items__list
			li.items__item
				input(type="radio" name="category" id="clothes" checked)
				label(for="clothes")  Одежда
			li.items__item
				input(type="radio" name="category" id="sneakers")
				label(for="sneakers") Кроссовки
			li.items__item
				input(type="radio" name="category" id="technique")
				label(for="technique") Техника
			li.items__item
				input(type="radio" name="category" id="other")
				label(for="other") Другое
	+button('Посчитать', 'button button__calculate_price', 'button')
