section.product-info
	h2.visually-hidden Дополнительная информация о товаре и доставке
	.product-info__wrapper.wrapper--details
		h3.product-info__header Важное дополнение
		p.product-info__text Стоимость доставки не входит в цену позиции. Её стоимость зависит от региона, в который будет совершена отправка вещи. Её стоимость зависит от региона, в который будет совершена отправка вещи.
	.product-info__wrapper.wrapper--description
		h3.product-info__header Описание
		p.product-info__text ренд Jordan и молодая звезда NBA Зайон Уильямсон выпустили второе поколение его именных баскетбольных кроссовок, Jordan Zion 2.Air Jordan 1 Low «Voodoo» оформлены в несколько оттенков: Flax, Muslin, Fauna Brown, Oil Green, Sesame и Moon Fossil. Верх пары выполнен из микса конопляных материалов, канваса и замши и дополняется логотипом-вуду в виде черепа и стежками на «свуше» и других деталях. Также интересно смотрится перевернутый лейбл на язычке.
	.product-info__wrapper.wrapper--more
		h3.product-info__header Вам также могут понравиться
		p.product-info__text Рекомендации составлены исходя из популярности товаров
