section.slider
  .slider_wrapper
    h2.slider_title ЧТО КЛАДЕТСЯ В ЗАКАЗ?
    p.slider_text Мы решили как-то выделить наших клиентов на фоне остальных
    .packing-info.info
      h3.slider_info_title КАК МЫ УПАКОВЫВАЕМ ПОСЫЛКИ?
      p.slider_info_text Каждый товар покупаемый через нас кладется сертификат и стикер свидетельствующий о приобретении позиции именно через наш сервис.
      p.slider_info_text Для чего мы это делаем? В первую очередь данный печатный носитель сможет вам помочь подтвердить подлинность вещи.
  .slider_wrapper
    h1.slider_title САМАЯ БЫСТРАЯ ДОСТАВКА
    p.slider_text Срок доставки вещей через нас не превышает 21 дня
    .fast-delivery.info
      h2.slider_info_title ПОЧЕМУ ТАК?
        p.slider_info_text
        | У нас есть собственный склад вещей в Китае, благодаря чему вещи доставляются значительно быстрее,
        br
        | нежели у конкурентов. Если вы решили заказать позицию с нашего склада в Москве, то срок её доставки до 7 дней курьерской службой СДЭК.
