section.slider-delivery
  .slider-delivery__wrapper.slider-delivery__wrapper-order
    h2.slider-delivery__title Что кладется в заказ?
    p.slider-delivery__text Мы решили как-то выделить наших клиентов на фоне остальных
    .slider-delivery__description
      h3.slider-delivery__description-title Как мы упаковываем посылки?
      p.slider-delivery__description-text
      | Каждый товар покупаемый через нас кладется сертификат и стикер свидетельствующий о приобретении позиции именно через наш сервис.
      br
      |Для чего мы это делаем? В первую очередь данный печатный носитель сможет вам помочь подтвердить подлинность вещи.
  .slider-delivery__wrapper.slider-delivery_wrapper-delivery
    h2.slider-delivery__title Самая быстрая доставка
    p.slider-delivery__text Срок доставки вещей через нас не превышает 21 дня
    .slider-delivery__description
      h3.slider-delivery__description-title Почему так?
        p.slider-delivery__descrition-text
        | У нас есть собственный склад вещей в Китае, благодаря чему вещи доставляются значительно быстрее,
        br
        | нежели у конкурентов. Если вы решили заказать позицию с нашего склада в Москве, то срок её доставки до 7 дней курьерской службой СДЭК.
// Проведи работу над ошибками
// 1 Классы по БЭМ мы именую по стилю Two Dashes пример block__element--modificator
// где block - класс родителя, element - элемент родительского блока, и modificator - это модификатор
// 2 h1 на все странице уже есть
// 3 проанализируй 1й слайд и потом сделай по аналогии
