section.slider
  h2.slider__title Что кладется в заказ?
  p.slider__description Мы решили как-то выделить наших клиентов на фоне остальных
  .slider__box
    h3.slider__box-title Как мы упаковываем посылки?
    p.slider__box-description Каждый товар покупаемый через нас кладется сертификат и стикер свидетельствующий о приобретении позиции именно через наш сервис. Для чего мы это делаем? В первую очередь данный печатный носитель сможет вам помочь подтвердить подлинность вещи.
    +img('slider__box-img', './../images/content/slider-sertificate', 'Image', 634, 'auto', 'png') 
